.holtwood {
  font-family: "Holtwood One SC", serif;
}
.knewave {
  font-family: "Knewave", cursive;
}
.gayathri {
  font-family: "Gayathri", sans-serif;
}

.dancingScript {
  font-family: "Dancing Script", cursive;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}
.fantasy {
  font-family: "Fantasy", fantasy;
}
.roundedMask {
  -webkit-mask-image: radial-gradient(
    circle at center,
    rgba(0, 0, 0, 1),
    rgba(0, 0, 0, 0.2) 90%
  );
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  -webkit-mask-position: center;
  mask-position: center;
  -webkit-mask-size: cover;
  mask-size: cover;
  mask-image: radial-gradient(
    circle at center,
    rgba(0, 0, 0, 1),
    rgba(0, 0, 0, 0.2) 90%
  );
}
