.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
  padding-left: 20px;
  padding-right: 20px;
  z-index: 10;
}

.title {
  font-size: 3rem;
  font-weight: lighter;
  color: #ffff;
  font-family: "Gayathri";
}

.subtitle {
  font-size: 1.2rem;
  color: #d7e9ad;
  font-style: italic;
}

.googlePlayButton {
  max-width: 192px;
  height: 52px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.feedback {
  margin-top: 20px;
  font-size: 1rem;
  color: #5c5c5c;
  font-style: italic;
  text-align: center;
}

.feedback a {
  color: #492580;
  text-decoration: none;
  transition: color 0.3s ease-in-out;
}

.feedback a:hover {
  color: #8566b1;
}

@media (max-width: 768px) {
  .title {
    font-size: 2rem;
    text-align: center;
  }

  .subtitle {
    font-size: 0.8rem;
    text-align: center;
  }

  .googlePlayButton {
    max-width: 192px;
    height: 52px;
  }

  .feedback {
    font-size: 0.9rem;
  }
}
